@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100;200;300;400;500;600;700&display=swap");

/* Global Proproperties */
:root {
  --white: #f7f7f7;
  --white-2: #d9d9d9;
  --black: #202f4b;
  --gray-1: #666;
  --blue-dark: #2f588e;
  --blue-normal: #8fc4e2;
  --blue-light: #dffcfd;
  --orange: #f26b49;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media (max-width: 1024px) {
    font-size: 58%;
  }
  @media (max-width: 520px) {
    font-size: 48%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/***** Header (Navigation) *****/
.header {
  position: fixed;
  height: 8rem;
  width: 100%;
  z-index: 20;
  padding: 0 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1024px) {
    justify-content: start;
  }
}

.nav,
.nav_item,
.nav_list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 3.2rem;
}

.nav_list {
  font-size: 2rem;
  @media (max-width: 1024px) {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
}

.nav-logo {
  font-size: 2.4rem;
  color: var(--white);
  @media (max-width: 520px) {
    font-size: 1.6rem;
  }
}

.nav {
  @media (max-width: 1024px) {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    opacity: 0;
    width: 0;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}

.nav_link {
  position: relative;
  @media (max-width: 1024px) {
    background-size: 220%;
    transition: all 0.4s;
  }
}

.nav_link:visited,
.nav_link:link {
  color: var(--white);
  @media (max-width: 1024px) {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    padding: 0.6rem 2rem;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      var(--white) 50%
    );
  }
}

.nav_link:hover,
.nav_link:active {
  @media (max-width: 1024px) {
    background-position: 100%;
    color: var(--blue-dark);
  }
}

.nav_link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  width: 100%;
  height: 3px;
  background: var(--white);
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav_link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav_link span {
  display: none;
  @media (max-width: 1024px) {
    display: inline-block;
    margin-right: 1.3rem;
  }
}

.button {
  background: transparent;
  padding: 0.8rem 3.2rem;
  border: 2px solid var(--white);
  border-radius: 0.6rem;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.6rem;
}

.button:active {
  transform: scale(0.96);
}

.button_login {
  @media (max-width: 1024px) {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 520px) {
    font-size: 1.2rem;
  }
}

.button_login:hover {
  background-color: var(--white);
  color: var(--black);
}

.button_login:active {
  @media (max-width: 1024px) {
    transform: translate(-50%, -50%) scale(0.96);
  }
}

.navigation_checkbox {
  display: none;
}

.navigation_button {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    background-color: var(--white);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    z-index: 100;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  @media (max-width: 520px) {
    height: 5.5rem;
    width: 5.5rem;
  }
}

.navigation_background {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    /* background-image: radial-gradient(var(--blue-normal), var(--blue-dark)); */
    backdrop-filter: blur(0.4px) saturate(180%);
    -webkit-backdrop-filter: blur(0.1px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.4);
    z-index: 10;
    transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
  }
  @media (max-width: 520px) {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.navigation_checkbox:checked ~ .navigation_background {
  transform: scale(70);
}

.navigation_checkbox:checked ~ .navigation_nav {
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  z-index: 10;
}

.navigation_checkbox:checked ~ .nav-logo,
.navigation_checkbox:checked ~ .button_login {
  opacity: 0;
}

/* Icon */

.navigation_icon {
  margin-top: 3.5rem;
  position: relative;
  @media (max-width: 520px) {
    margin-top: 2.5rem;
  }
}

.navigation_icon,
.navigation_icon::before,
.navigation_icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  border-radius: 20px;
}

.navigation_icon::before,
.navigation_icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation_icon::before {
  transform: translateY(-0.8rem);
}
.navigation_icon::after {
  transform: translateY(0.8rem);
}

.navigation_button:hover .navigation_icon::before {
  transform: translateY(-1rem);
}

.navigation_button:hover .navigation_icon::after {
  transform: translateY(1rem);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/**** Home ****/
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(/images/waves-pc.svg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  @media (max-width: 1024px) {
    background: url(/images/waves-tablet.svg) no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  @media (max-width: 520px) {
    background: url(/images/waves-phone.svg) no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.4);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/**** Form ****/
.form_container {
  position: absolute;
  max-width: 32rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 100;
  /* background: var(--white); */
  backdrop-filter: blur(8px) saturate(160%);
  -webkit-backdrop-filter: blur(8px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.64);
  box-shadow: 1rem 1rem 6.2rem 0.4rem rgb(152, 193, 217, 0.4);
  padding: 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 1rem 1rem 6.2rem 0.4rem rgba(0, 0, 0, 0.2);

  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease-out;
  @media (max-width: 1024px) {
    max-width: 56%;
  }
  @media (max-width: 520px) {
    max-width: 80%;
  }
}

.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup_form {
  display: none;
}

.form_container.active .signup_form {
  display: block;
}

.form_container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: var(--black);
  font-size: 2.4rem;
  opacity: 0.8;
  cursor: pointer;
}

.form_close:hover {
  color: var(--blue-dark);
}

.login_header {
  font-size: 2.2rem;
  color: var(--black);
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  height: 4rem;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 3rem;
  border-radius: 3px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.6px solid var(--gray-1);
  background-color: transparent;
  @media (max-width: 1024px) {
    font-size: 1.6rem;
  }
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 400;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.input_box input:focus {
  border-color: var(--blue-dark);
}

.input_box input:focus ~ label {
  top: -5px;
  color: var(--blue-dark);
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: var(--gray-1);
}

.icon_email,
.icon_password,
.icon_phone {
  left: 4px;
}

.icon_hidden {
  right: 0.8rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.input_box input:focus ~ .icon_email,
.input_box input:focus ~ .icon_password,
.input_box input:focus ~ .icon_hidden,
.input_box input:focus ~ .icon_phone {
  color: var(--blue-dark);
}

.option_field {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option_field a {
  color: var(--blue-dark);
  font-size: 1.2rem;
}

.option_field a:hover {
  text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 0.8rem;
  white-space: nowrap;
  font-size: 1.2rem;
}

.checkbox input {
  accent-color: var(--blue-dark);
  cursor: pointer;
}

.checkbox label {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
  color: var(--black);
}

.form_container .button {
  border: none;
  background-color: var(--blue-dark);
  margin-top: 3rem;
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
}

.button_signup:hover,
.button_signin:hover {
  color: var(--blue-light);
  background-color: var(--black);
}

.login_signup {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.5rem;
}

.login_signup a {
  color: var(--blue-dark);
}

.login_signup a:hover {
  text-decoration: underline;
}

/*** Calculator ***/
.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(8px) saturate(160%);
  -webkit-backdrop-filter: blur(8px) saturate(160%);
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 1rem 1rem 6.2rem 0.4rem rgb(152, 193, 217, 0.4);
  max-width: 48rem;
  width: 100%;
  max-height: 48rem;
  height: 100%;
  padding: 2.4rem 3.2rem;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1024px) {
    max-width: 56rem;
    width: 100%;
    max-height: 56rem;
  }

  @media (max-width: 520px) {
    max-height: 66rem;
    padding: 1rem;
  }
}

.calc_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.1rem;
  padding: 0.8rem;
}

.input_area {
  display: flex;
  flex-direction: column;
}

.calc_input {
  font-family: "Kantumruy Pro", sans-serif;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 1.2rem 1.6rem;
  height: 100%;
  width: 100%;
  outline: none;
  border-radius: 0.2rem;
  color: #444;
  transition: all 0.2s ease;
  text-align: right;
}

.calc_input::-webkit-outer-spin-button,
.calc_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc_input-1 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;

  @media (max-width: 1024px) {
    padding: 1.6rem 1.6rem;
    font-size: 4.8rem;
  }
  @media (max-width: 520px) {
    font-size: 4rem;
  }
  @media (max-width: 328px) {
    font-size: 3.2rem;
  }
}

.calc_label-2 {
  font-size: 1.6rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;

  @media (max-width: 1024px) {
    font-size: 2.4rem;
    padding: 1.6rem 1.6rem;
  }
  @media (max-width: 328px) {
    font-size: 1.6rem;
  }
}

.k-board {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.5rem;
  align-content: start;
  @media (max-width: 520px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.btn {
  font-family: "Kantumruy Pro", sans-serif;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  text-align: center;
  padding: 0.8rem 1.6rem;
  color: #444;
  font-size: 2.4rem;
  font-weight: 200;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.3rem;
  transition: all 0.2s ease;

  @media (max-width: 1024px) {
    padding: 1.2rem 2.4rem;
  }
  @media (max-width: 520px) {
  }
}

.btn:hover {
  background-color: rgb(0, 0, 0, 0.02);
}

.btn--gray {
  background-color: rgb(0, 0, 0, 0.07);
}

.btn--gray:hover {
  background-color: rgb(0, 0, 0, 0.17);
}

.btn--dark {
  color: var(--white);
  background-color: rgb(32, 47, 75, 0.8);
}

.btn--dark:hover {
  background-color: rgba(32, 47, 75, 0.72);
}

.btn--equal {
  color: var(--white);
  background-color: rgb(47, 88, 142, 0.8);
  @media (max-width: 520px) {
    grid-column: 1 / -1;
    order: 10;
  }
}

.btn--equal:hover {
  background-color: rgb(47, 88, 142, 0.72);
}

.btn-AC,
.btn-delete {
  @media (max-width: 520px) {
    order: -1;
  }
}
.btn-M-min,
.btn-M-plus {
  @media (max-width: 520px) {
    order: -2;
  }
}
